[Desktop Entry]
Type=Service
MimeType=multipart/mixed;multipart/x-mixed-replace;
Name=Embeddable Component for multipart/mixed
X-KDE-ServiceTypes=KParts/ReadOnlyPart
X-KDE-Library=libkmultipart
