[Desktop Entry]
Name=Embedded Java Applet Viewer
Name[x-test]=xxEmbedded Java Applet Viewerxx
X-KDE-Library=kjavaappletviewer
Icon=java
MimeType=application/x-java-applet;application/x-java;
X-KDE-ServiceTypes=KParts/ReadOnlyPart,Browser/View
Type=Service
InitialPreference=2
X-KDE-BrowserView-PluginsInfo=kjava/pluginsinfo
