[Desktop Entry]
Type=Service
Comment=Embeddable HTML viewing component
MimeType=text/html;application/xml;application/xhtml+xml;
Icon=konqueror
Name=KHTML
X-KDE-ServiceTypes=KParts/ReadOnlyPart,Browser/View
X-KDE-Library=libkhtmlpart
InitialPreference=10
