[Desktop Entry]
Name=KHTML Extension Adaptor
X-KDE-Library=khtmladaptorpart
MimeType=application/x-khtml-adaptor;
X-KDE-ServiceTypes=KParts/ReadOnlyPart,Browser/View
Type=Service
InitialPreference=4
