[Desktop Entry]
Name=KHTML Extension Adaptor
Name[uk]=Адаптер розширень KHTML
Name[x-test]=xxKHTML Extension Adaptorxx
X-KDE-Library=khtmladaptorpart
MimeType=application/x-khtml-adaptor;
X-KDE-ServiceTypes=KParts/ReadOnlyPart,Browser/View
Type=Service
InitialPreference=4
