[Desktop Entry]
Type=Service
Comment=Embeddable Image Viewing Component
Comment[pt_BR]=Componente integrado de visualização de imagens
Comment[sk]=Vložiteľný komponent pre zobrazenie obrázkov
Comment[uk]=Вбудований компонент переглядача зображень
Comment[x-test]=xxEmbeddable Image Viewing Componentxx
MimeType=image/gif;image/x-xpixmap;image/x-xbitmap;image/jpeg;image/bmp;image/png;image/x-jng;image/x-ico;image/x-portable-bitmap;image/x-portable-pixmap;image/x-portable-graymap;image/tiff;video/x-mng;image/x-tga;
Name=Embeddable Image Viewer
Name[pt_BR]=Visualizador de imagens integrado
Name[sk]=Vložiteľný prehliadač obrázkov
Name[uk]=Вмонтований переглядач зображень
Name[x-test]=xxEmbeddable Image Viewerxx
X-KDE-ServiceTypes=KParts/ReadOnlyPart,Browser/View
InitialPreference=4
X-KDE-Library=khtmlimagepart
