[Desktop Entry]
Name=TML Extension Adaptor
Name[af]=TML uitbreidingaanpasser
Name[ar]=مُحوّل امتدادات TML
Name[as]=TML সম্প্ৰসাৰণৰ এডাপ্টৰ
Name[az]=TML Genişləndirici Uzlaşdırıcısı
Name[be]=Адаптар пашырэння TML
Name[be@latin]=Adaptar dla pašyreńniaŭ TML
Name[bg]=Адаптор за TML разширения
Name[bn]=TML এক্সটেনশন অ্যাডাপ্টর
Name[bn_IN]=TML Extension Adaptor
Name[bs]=Adapter proširenja za TML
Name[ca]=Adaptador de l'extensió TML
Name[ca@valencia]=Adaptador de l'extensió TML
Name[cs]=Adaptér pro TML rozšíření
Name[csb]=TML Extension Adaptor
Name[da]=Udvidelsestilpasning for TML
Name[de]=Adapter für TML-Erweiterungen
Name[el]=Προσαρμογέας επέκτασης TML
Name[en_GB]=TML Extension Adaptor
Name[eo]=TML-finaĵa adaptilo
Name[es]=Adaptador de extensiones TML
Name[et]=TML-i laiendi adapter
Name[eu]=TML luzapenen moldatzailea
Name[fa]=سازوارگر گسترش‌های TML
Name[fi]=TML-laajennussovitin
Name[fr]=Adaptateur d'extension TML
Name[fy]=TML taheaksel adaptor
Name[ga]=Cuibheoir Eisínteacht TML
Name[gd]=Adaptar leudachain TML
Name[gl]=Adaptador de extensión de TML
Name[gu]=TML એક્સટેન્સન સ્વિકારનાર
Name[he]=מתאם הרחבה של TML
Name[hne]=टीएमएल विस्तार एडाप्टर
Name[hr]=Prilagodnik proširenja za TML
Name[hsb]=TML Extension Adaptor
Name[hu]=TML kiterjesztésadapter
Name[hy]=TML երկարացնելիքի հարմարանք
Name[ia]=Adaptator pro TML Extension
Name[id]=Adaptor Tambahan TML
Name[ie]=Adaptator de extension de TML
Name[is]=Aðlögun TML-endinga
Name[it]=Adattatore estensione TML
Name[ja]=TML エクステンションアダプタ
Name[ka]=TML გაფართოების ადაპტერი
Name[kk]=TML кеңейту адапторы
Name[km]=អាដាប់ទ័រ​ផ្នែក​បន្ថែម TML
Name[kn]=TML ವಿಸ್ತರಣಾ  ಅನುವರ್ತಕ (ಅಡಾಪ್ಟಾರ್)
Name[ko]=TML 확장 기능 어댑터
Name[ku]=Pêveka Adeptora TML
Name[lt]=TML plėtinių adapteris
Name[lv]=TML paplašinājumu adapteris
Name[mai]=TML विस्तारक एडाप्टर
Name[mk]=Адаптер за TML-екстензија
Name[ml]=टीएमएल എക്സ്റ്റന്‍ഷന്‍ അഡാപ്റ്റര്‍
Name[mr]=TML विस्तारन एडॅप्टर
Name[nb]=TML utvidelsesadapter
Name[nds]=Koppelsteed för TML-Verwiedern
Name[ne]=टीडीई टीएमएल विस्तार समायोजक
Name[nl]=TML-extensie aanpassen
Name[nn]=TML-utvidingstilpassar
Name[or]=TML ଅନୁଲଗ୍ନ ଉପଯୋଜକ
Name[pa]=TML ਇਕਸਟੈਨਸ਼ਨ ਅਡੋਪਟਰ
Name[pl]=Adapter rozszerzeń TML
Name[pt]=Adaptação da Extensão TML
Name[pt_BR]=Adaptador de extensões do TML
Name[ro]=Adaptor de extensii TML
Name[ru]=Адаптер расширений TML
Name[se]=TML-viiddádusheiveheaddji
Name[si]=TML දිගු ඇඩැප්ටරය
Name[sk]=Adaptér pre TML rozšírenia
Name[sl]=Prilagodilnik razširitve TML
Name[sr]=Адаптор проширења за ТМЛ
Name[sr@ijekavian]=Адаптор проширења за ТМЛ
Name[sr@ijekavianlatin]=Adaptor proširenja za TML
Name[sr@latin]=Adaptor proširenja za TML
Name[sv]=TML-utökningsanpassning
Name[ta]=TML விரிவு அடாப்டர்
Name[tg]=Созгори васеъшавии TML
Name[th]=ตัวแปลงส่วนขยาย TML
Name[tr]=TML Eklenti Bağdaştırıcısı
Name[tt]=TML өстәлмәнең адаптеры
Name[ug]=TML كېڭەيتىلمە ماسلاشتۇرغۇچ
Name[uk]=Адаптер розширень TML
Name[vi]=Bộ tiếp hợp mở rộng TML
Name[wa]=Adapteu d' sitindaedje TML
Name[zh_CN]=TML 扩展适配器
Name[zh_TW]=TML 延伸裝置
X-KDE-Library=kf5/parts/tmladaptorpart
MimeType=application/x-tml-adaptor;
X-KDE-ServiceTypes=KParts/ReadOnlyPart,Browser/View
Type=Service
InitialPreference=4
